* {
    box-sizing: border-box;
    padding: 0;
    font-family: Inter;
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: #F55A5A;
    color: white;
    padding: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 18px;
    font-size: 14.46px;
    letter-spacing: -0.075rem;

    /* vertically aligning image and text */    
    display: flex;
    align-items: center;
    
    justify-content: center;

}

.navbar--title {
    margin: 7px;
}

/* Card */
.card {
    padding: 18px 0;
    margin: 0 40px;
    display: flex;
    border-bottom: #F5F5F5 1px solid;
}

.card--image {
    
    /* Centering the image within the 125x168 frame */
    object-fit: cover;
    width: 125px;
    height: 168px;

    border-radius: 5px;
}

.card--content {
    padding: 19px;
}

.card--pin {
    color: #F55A5A;
    font-size: 10.24px;
}

.card--country {
    color: #2B283A;
    font-size: 10.24px;
    font-weight: 400;
    letter-spacing: 0.17em;
    display: inline-block;
    margin-left: 4px;
    margin-right: 12px;
    text-transform: uppercase;
}

.card--mapsLink {
    color: #918E9B;
    font-size: 10.24px;
    font-weight: 400;
    display: inline-block;
}

.card--title {
    color: #2B283A;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin: 7px;
    height: 40px;
}

.card--dates {
    color: #2B283A;
    font-size: 10.24px;
    font-weight: 700;
    line-height: 12px;
    margin-top: 7px;
}

.card--description {
    color: #2B283A;
    font-size: 10.24px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 9px;
}